h1 {
    font-size: 45px;
}
h3 {
    font-size: 35px;
}
p {
    font-size: 30px;
}
li {
    font-size: 30px;
    padding: 5px;
}
a {
    font-size: 25px;
}
img {
    width: 30vw;
}
#split-div{
    display: flex;
}
.split {
    flex: 1 / 2;
}
#kofiDiv {
    height: 25vh;
    border-style: solid; 
    border-color: green; 
    border-radius: 10px; 
    border-width: 5px;
    text-align: center;
}
.split:first-child {
    padding-right: 7vw;
} 
#div-proofs{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.div-proof {
    border-style: solid;
    border-color: darkred;
    text-align: center;
}
